.cart__main_container {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(61deg, rgba(64, 88, 142, 1) 0%, rgba(113, 121, 209, 1) 53%, rgba(0, 92, 162, 1) 100%);
}

.cart__sub_container {
    width: 80%;
    height: 100%;
    min-height: 152px;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    background-color: rgba(0, 0, 0, 0.484);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 3px black;
}

.cart__sub_container_anunt {
    width: 80%;
    height: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.484);
    border-radius: 10px;
}

.cart__img {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cart__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
}

.cart__title_price {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cart__title_price h1 {
    font-family: var(--font-roboto);
    font-size: 30px;
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
    margin: 15px;
}

.cart__title_price h2 {
    font-family: var(--font-roboto);
    font-size: 22px;
    color: aliceblue;
    margin: 10px;
}

.cart__title_price p {
    font-family: var(--font-roboto);
    font-size: 15px;
    color: rgb(46, 255, 105);
}

.cart__buttons {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cart__buttons button {
    padding: 5px 15px;
    margin: 10px;
    border-radius: 16px;
    background: linear-gradient(rgb(255, 0, 0), rgb(205, 0, 0));
    box-shadow: 0 0 2px rgb(255, 52, 52);
    font-size: 18px;
    color: white;
    font-family: var(--font-roboto);
    border: none;
}

.cart__buttons button:focus {
    outline: none;
}

.cart__buttons button:active {
    background: linear-gradient(rgb(205, 0, 0), rgb(255, 0, 0));
}

.cart__buttons .show {
    padding: 5px 15px;
    margin: 10px;
    border-radius: 16px;
    background: linear-gradient(rgb(48, 73, 187), rgb(51, 51, 153));
    box-shadow: 0 0 2px rgb(0, 10, 87);
    font-size: 18px;
    color: white;
    font-family: var(--font-roboto);
    border: 1px solid rgb(82, 82, 82);
}

.cart__checkout_btn {
    padding: 5px 15px;
    margin: 10px;
    border-radius: 16px;
    background: linear-gradient(rgb(56, 86, 218), rgb(61, 61, 182));
    box-shadow: 0 0 2px rgb(0, 10, 87);
    font-size: 18px;
    color: white;
    font-family: var(--font-roboto);
    border: none;
}

.cart__checkout_btn:focus {
    outline: none;
}

.cart__empty_text {
    font-family: var(--font-roboto);
    font-size: 30px;
    font-weight: 300;
}

@media screen and (max-width:1050px) {
    .cart__buttons {
        flex: 0.7;
    }

    .cart__title_price h1 {
        font-size: 25px;
        margin: 10px;
    }

    .cart__title_price h2 {
        font-size: 18px;
        margin: 5px;
    }

    .cart__title_price p {
        font-size: 15px;
        ;
    }
}

@media screen and (max-width:800px) {
    .cart__sub_container_anunt {
        flex-direction: column;
    }
}

@media screen and (max-width:450px) {
    .cart__sub_container_anunt {
        width: 80%;
    }

    .cart__sub_container {
        width: 90%;
    }

}